body {
  background: #5B6A57;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.todo-box {
  width: 300px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}

li {
  list-style: none;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.done {
  text-decoration: line-through;
  color: gray;
}